node_modules
coverage
coverage.json
typechain

#Hardhat files
cache
artifacts


**/.openzeppelin
**/artifacts
**/build
**/build/*
**/cache
**/coverage
**/dist
**/node_modules

*.env
*.log
coverage.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea

# zksync
artifacts-zk
cache-zk